
body {
    font-weight: 240;
    /*font-family: 'Dejavu Sans', 'Arial', 'Verdana', sans-serif;*/
}

h1 {
	font-size: 50px;
	font-weight: 300;
}

h2 {
	font-size: 30px;
	font-weight: 200;
}

h3 {
	font-size: 30px;
	font-weight: 200;
}

b {
	font-weight: 400;
}

#update {
	color: #005e85;
}



.description {
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 20px;
}

.section-description {
	font-size: 20px;
}

.container {
    padding-left: 10px;
    padding-right: 10px;
}

.intro-section p {
	font-weight: 300;
	font-size: 20px;
}

.intro-section .section-description{
	background: #107ac1;
	padding-top: 50px;
	padding-bottom: 20px;
	color: white;
}

.intro-section .section-description a {
	color: #f3e8bd;
	font-weight: 300;
	font-size: 20px;
}

.navbar-nav li {
	padding-left: 20px;
}

.principle-container {
	padding: 10px 20px 10px 20px;
	margin-top: 40px;
	margin-bottom: 60px;
}

.building-features-container {
	padding-bottom: 20px;
	margin-top: 30px;
	margin-bottom: 15px;
}

.building-features-container .section-title {
	background-color: #ca4660;
}

#site-title {
	padding-top: 30px;
	color: white;
}

.section-links {
	font-size: 19px;
}

.section-title {
	/*background-color: #2e89ebe3;*/
	/*background-color: #21b38f33;*/
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	color: black;
}

.principle {
	padding-bottom: 10px;
	font-size: 18px;
}

.header {
	font-size: 21px;
}

.building-blocks {
	padding-left: 10px;
}

.author {
	margin-top: 20px;
	background-color: #FFFFFF;
	color: black;
	/*text-align: center;*/
	font-size: 19px;
}

#sign {
    text-align: center;
}

.white-text {
	color: white;
}

#team {
	/*display: flex; */
	width: 100%;
	text-align: center;
}

#proposal {
	text-align: center;
}

.team-card {
	display: inline-block;
    min-width: 0;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 15px;
}

.circle-img {
    object-fit: cover;
    border-radius: 100%;
    margin: 0px 5px 10px 5px;
    height: 180px;
    width: 180px;
}

